body {
    font-family: sans-serif;
    background-color: #cccccc;
}

.header-container {
    background-color: #120323;
    text-align: center;
    padding: 2rem;
}

h1 {
    color: #97bf04;
}

nav {
    padding: 0.5rem;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    background-color: #d9043d;
    border: #97bf04;
    border-style: solid;
}

h2 {
    text-align: center;
}

main img {
    border-bottom: 10px solid #97bf04;
    width: 30rem;
    height: 20rem;
}

#gallery-container {
    background-color: white;
    display: grid;
    gap: 2rem;
}

footer {
    background-color: #d9043d;
    text-align: center;
    color: white;
    padding: 3rem;
    margin: 0.5rem;
}

/* tablet */
@media screen and (min-width: 48rem){
    #gallery-container {
        grid-template-columns: repeat(2,1fr);
    }
}

/* laptop */
@media screen and (min-width: 62.5rem){
    #gallery-container {
        grid-template-columns: repeat(3,1fr);
    }
}